*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
img{
    width: 40%;
    height: 300px;
}

form{
    width: 30%;
    border: 1px solid red;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

input{
    border: none;
    outline: none;
}

i{
    cursor: pointer;
} */

/* 
.X{
    width: 400px;
    height: 400px;
    background-color: blueviolet;
}

.Y{
    width: 250px;
    height: 250px;
    background-color: burlywood;
}

.Z{
    width: 120px;
    height: 120px;
    background-color: aqua;
} */


#demo{
    width: 300px;
    height: 300px;
    background-color: red;
    transition: .4s;
}

.active{
    border-radius: 100%;
    border: 10px solid yellow;
}


.box{
    margin-bottom: 20px;
    cursor: pointer;
}

#list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}